@{
    Layout = null;
}

@{
    ViewBag.Title = "Battleship";
}

<h1>@ViewBag.Title</h1>

<div>
    <h4>Please press below to start the game!</h4>
</div>
<div>
    <input type="button" value="Start!" onclick="location.href='@Url.Action("Start")'" />
</div>
