@model Battleship.Models.GameStartViewModel

@{
    ViewBag.Title = "Battleship";
}

<h2>Start Your Battleship Game</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.GameId)
    <div>
        @Html.LabelFor(m => m.GameName)
        @Html.EditorFor(m => m.GameName)
        @Html.ValidationMessageFor(m => m.GameName)
    </div>
    <br />
    <input type="submit" value="Start Your Game" />
}