@model dynamic

@{
    ViewBag.Title = "Play Your Game";
}

<h2>This is your Battleship Game!</h2>
<br />
<br />
<table align="center">
    <tr>
        <td>
            <table style="width: 300px; height: 300px; margin-left: auto; margin-right: auto;" border="10" cellspacing="0" cellpadding="10" id="player1">
                <tbody>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;A</td>
                        <td style="height: 21px;">&nbsp;B</td>
                        <td style="height: 21px;">&nbsp;C</td>
                        <td style="height: 21px;">&nbsp;D</td>
                        <td style="height: 21px;">&nbsp;E</td>
                        <td style="height: 21px;">&nbsp;F</td>
                        <td style="height: 21px;">&nbsp;G</td>
                        <td style="height: 21px;">&nbsp;H</td>
                        <td style="height: 21px;">&nbsp;I</td>
                        <td style="height: 21px;">&nbsp;J</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;1</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;2</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;3</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;4</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;5</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;6</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;7</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;8</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;9</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;10</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td>
            <table style="width: 300px; height: 300px; margin-left: 10px; margin-right: auto;" border="10" cellspacing="0" cellpadding="10" id="computer">
                <tbody>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;A</td>
                        <td style="height: 21px;">&nbsp;B</td>
                        <td style="height: 21px;">&nbsp;C</td>
                        <td style="height: 21px;">&nbsp;D</td>
                        <td style="height: 21px;">&nbsp;E</td>
                        <td style="height: 21px;">&nbsp;F</td>
                        <td style="height: 21px;">&nbsp;G</td>
                        <td style="height: 21px;">&nbsp;H</td>
                        <td style="height: 21px;">&nbsp;I</td>
                        <td style="height: 21px;">&nbsp;J</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;1</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;2</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;3</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;4</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;5</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;6</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;7</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;8</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;9</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 21px;">
                        <td style="height: 21px;">&nbsp;10</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                        <td style="height: 21px;">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>


